<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

    <h1 style="color:blueviolet">Kece Application</h1>
    <p style="color: pink;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam natus, aut explicabo praesentium vero pariatur? Cumque facilis, doloribus pariatur saepe minus, voluptatibus impedit, eos delectus ipsum magnam sunt ut esse?</p>
    <input type="text">
    <button style="width: 1000px; height: 40px; background-color: blueviolet; color: #fff; border-radius: 40px; ">Back to Home</button>
</body> 
</html>